* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
  }

body {
  
  --brown:#470c08;
  --cream:#fefee2;
  --navy:#0c0466;
  --bw-100: #181743;
  --bw-200: #3f474b;
  --bw-300: #7f8a8f;
  --bw-400: #bec7cc;
  --bw-500: #dde6ea;
  --bw-600: #f3f8fb;
  --bw-700: #ffffff;

  --burple-100: #271e64;
  --burple-200: #5034ff;
  --burple-300: #bebdff;
  --burple-400: #6d6af4;
  --burple-500: #dfe8ff;

  --green-100: #1877bc;
  --green-200: #0db8ae;
  --green-300: #4edbd2;
  --green-400: #9bfff9;
  --green-500: #d9fffd;

  --alert-red-100: #ee1313;
  --alert-red-200: #fd5d5d;
  --alert-red-300: #ff9e9e;
  --alert-red-400: #ffd4d4;

  --alert-green-100: #039700;
  --alert-green-200: #2ad027;
  --alert-green-300: #92f590;
  --alert-green-400: #c7fec6;

  --alert-yellow-100: #ea7e00;
  --alert-yellow-200: #ffa53c;
  --alert-yellow-300: #ffc27a;
  --alert-yellow-400: #ffebc5;

  --main-font: Poppins, arial, sans-serif;
}


/* ===== Text ===== */

.Page {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
}

.Page1h2 {
  margin-top: 50px;
  font-size: 3em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main1 {
  gap: 50px;
}

.text1 {
  font-size: 2em;
  font-family: var(--main-font);
}

.box {
  margin-bottom: 30px;
}

.allcases {
  display: grid;
  row-gap: 36px;
  column-gap: 24px ;
}

.box .allcases .box1 {
  display: grid;
  column-gap: 24px;
  row-gap: 36px;
  grid-template-columns: 30% 70%;
  transition: width 300ms ease;
  width: 30% 70%;
}

.box1:hover {
  width: 100%
}

.box .allcases .box2 {
  display: grid;
  column-gap: 24px;
  row-gap: 36px;
  grid-template-columns: 70% 30%;
}

.contenu {
  width: 1000px;
  margin: auto;
}

.cases1 {
  background: rgb(211,211,211,0.4);
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cases2 {
  background: rgb(211,211,211,0.4);
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Page2 {
  gap: 50px;
}

.texte2 {
  display: block;
  color: black;
}

h1 {
    font-size: 5em;
    font-style: bold;
    font-family: var(--main-font);
    align-items: center;
}

h2 {
    font-size: 30px;
    display: flex;
    align-items: center;
    font-family: var(--main-font);
}

.titre {
    font-size: 4em;
    text-shadow: 2px 2px darkgrey;
}

.logo {
  margin-top: 20px;
  margin-left: 100px;
}

p {
    padding: 10px 400px 20px ;
    text-align: justify;
    font-size: 20px
}

.contact > .logo_contact .logo_contact2 {
  gap: 500px;
}

.logo_contact {
  max-width: 500px;
	height: auto;
}

.logo_contact2 {
  max-width: 500000px;
	height: auto;
}

/* ===== Button ===== */

button,
.button {
  border-radius: 40px;
  transition: all ease-in-out 125ms;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-family: var(--main-font);
}

button.large,
.button.large {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

button.large:not(.text),
.button.large:not(.text) {
  padding: 24px 32px;
}

button.medium,
.button.medium {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

button.medium:not(.text),
.button.medium:not(.text) {
  padding: 20px 24px;
}

button.small,
.button.small {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

button.small:not(.text),
.button.small:not(.text) {
  padding: 12px 20px;
}

button.primary,
.button.primary {
  background: var(--burple-200);
  color: var(--bw-700);
  border: none;
}

button.primary:hover,
.button.primary:hover {
  background: var(--burple-100);
}

button.secondary,
.button.secondary {
  background: var(white);
  border: 3px solid var(--bw-700);
  color: var(--bw-700);
}

button.secondary:hover,
.button.secondary:hover {
  background: var(--bw-700);
  color: var(--bw-100);
}

button.tertiary,
.button.tertiary {
  background: var(--burple-500);
  border: 3px solid var(--bw-100);
  color: var(--burple-100);
}

button.tertiary:hover,
.button.tertiary:hover {
  background: var(--bw-100);
  color: var(--bw-700);
}

button.text,
.button.text {
  background: none;
  color: var(--navy);
  border: none;
}

button.text:hover,
.button.text:hover {
  color: var(--burple-100);
}

/* ===== Header ===== */


header {
    display: flex;
    justify-content: space-between;
    background-color: var(--brown);
    padding-bottom: 10px;
}

header > .gauche {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}

header nav > ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 10px;
    margin-right: 100px;
  }

header ul {
    list-style-type: none;
}

/* ===== Header ===== */


.blog-post .posts {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 36px;
  row-gap: 36px;
}

.contenu {
  width: 1000px;
  margin: auto;
}

.x-card {
  background: rgb(211,211,211,0.4);
  height: 300px;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imgcard {
  max-width: 300px;
	height: auto;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: var(--cream);
  margin:5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 50px;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 80%;
}

.popupcontent{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.popupp {
  text-justify: distribute;
}

.popuptitle {
  text-align: center;
}

.popupimg {
  max-width: 300px;
	height: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.popuptitle {
  text: center;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}

.input label {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--bw-100);
}

.input input {
  /* Désactive la bordure par défaut du navigateur */
  outline: none;
}

.input input::placeholder {
  color: var(--bw-400);
}

/* Lorsque le placeholder est affiché
   = lorsque le champ est vide */
.input input:placeholder-shown {
  border: 3px solid black /*var(--burple-400)*/;
}

/* Lorsque le placeholder est n'est pas affiché
   = lorsque le champ est rempli */
.input input:not(:placeholder-shown) {
  border: 3px solid blue /*var(--burple-300)*/;
}

/* Champ rempli valid, sans focus */
.input input:not(:placeholder-shown):valid:not(:focus) {
  border: 3px solid green /*var(--xxx)*/;
}

/* Champ rempli invalid, sans focus */
.input input:not(:placeholder-shown):invalid:not(:focus) {
  border: 3px solid red /*var(--xxx)*/;
}

.input .helper {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: var(--bw-300);
}

/* Animation */

.anim1 {
  opacity: 0;
  animation: apparition 1s ease-out 0s forwards ;
}

.anim2 {
  opacity: 0;
  animation: apparition 1s ease-out 0.1s forwards ;
}

.anim3 {
  opacity: 0;
  animation: apparition 1s ease-out 0.2s forwards ;
}

.anim4 {
  opacity: 0;
  animation: apparition 1s ease-out 0.3s forwards ;
}

.anim5 {
  opacity: 0;
  animation: apparition 1s ease-out 0.4s forwards ;
}

.animg {
  opacity: 0;
  animation : gauche 1s ease-out 0s forwards ;
}
.animd {
  opacity: 0;
  animation : droite 1s ease-out 0s forwards ;
}

@keyframes droite {
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes gauche {
  0%{
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes apparition {

  0%{
    opacity: 0;
    transform: translateY(100px);
  }

  100%{
    opacity: 1;
    transform: translateY(0px);
  }

}


/* J'ai changé */